
@import url('https://fonts.googleapis.com/css2?family=Poppins');
body {
  margin: 0;
  padding: 0;
  color: white;

  font-family: 'Poppins', sans-serif;
  background: rgb(0,0,0);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a{
  color: white;
  text-decoration: none;
}
